<div class="my-meals-container">
    <!-- Planned Meals Section -->
    <h3 class="page-header">Planned Meals</h3>
    <dx-list
        [dataSource]="plannedMeals"
        [height]="'auto'"
        [showSelectionControls]="false"
    >
        <div *dxTemplate="let meal of 'item'">
            <div class="meal-item">
                <dx-button
                    text="{{ meal.mealName }}"
                    stylingMode="text"
                    (onClick)="openMealPopup(meal)">
                </dx-button>
                <div class="meal-actions">
                    <dx-button
                        icon="check"
                        stylingMode="contained"
                        type="success"
                        (onClick)="cookMeal(meal)">
                    </dx-button>
                    <dx-button
                        icon="trash"
                        stylingMode="contained"
                        type="danger"
                        (onClick)="deleteMeal(meal)">
                    </dx-button>
                </div>
            </div>
        </div>
    </dx-list>
    
    <!-- Meal History Section -->
    <h3 class="page-header">Meals History</h3>
    <dx-list
        [dataSource]="mealHistory"
        [height]="'auto'"
        [showSelectionControls]="false"
        class="history-list"
        [pageLoadMode]="'scrollBottom'"
    >
    <div *dxTemplate="let meal of 'item'">
        <div class="meal-item">
        <dx-button
            text="{{ meal.mealName }}"
            stylingMode="contained"
            type="default"
            (onClick)="openMealPopup(meal)">
        </dx-button>
        </div>
    </div>
    </dx-list>
    
    <!-- Meal Details Popup -->
    <dx-popup
        [visible]="popupVisible"
        [deferRendering]="false"
        [showCloseButton]="true"
        [width]="'90%'"
        [maxWidth]="420"
        [height]="'auto'"
        [maxHeight]="'100vh'"
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        (onHiding)="closePopup()"
        [title]="selectedMeal?.mealName || 'Meal Name Missing'"
    >
        <div *ngIf="selectedMeal">
            <h3 class="page-header first-popup-header">Instructions</h3>
            <div [innerHTML]="selectedMeal.instructions"></div>
            <h3 class="page-header">Ingredients</h3>
            <dx-list
                [dataSource]="mealItems"
                [height]="200"
                [showSelectionControls]="false"
            >
            <div *dxTemplate="let item of 'item'">
                <div class="meal-item">
                <p>{{ item.item }} ({{ item.quantity }} {{ item.unit }})</p>
                </div>
            </div>
            </dx-list>
            <!-- Plan Again Button for Meal History -->
            <dx-button
                *ngIf="!selectedMeal.active"
                text="Plan Again"
                stylingMode="contained"
                type="default"
                (onClick)="planAgain(selectedMeal)">
            </dx-button>
        </div>
    </dx-popup>
    <dx-popup
        [(visible)]="confirmationPopupVisible"
        [maxWidth]="600"
        [width]="'90%'"
        [height]="'auto'"
        [title]="'Missing Ingredients'"
        [showTitle]="true"
        [dragEnabled]="true"
        [hideOnOutsideClick]="false"
        (onHiding)="popupResponse = false"
    >
    <div>
        <p>Some ingredients are missing or insufficient:</p>
        <ul>
        <li *ngFor="let item of missingItems">
            {{ item.item }}: {{ item.available }} available, {{ item.needed }} needed
        </li>
        </ul>
    </div>
    <div class="dx-field">
        <dx-button
            text="Cancel"
            stylingMode="contained"
            type="danger"
            (click)="confirmationPopupVisible = false; popupResponse = false"
        ></dx-button>
        <dx-button
            text="Proceed"
            stylingMode="contained"
            type="success"
            (click)="confirmationPopupVisible = false; popupResponse = true; proceedWithCooking()"
        ></dx-button>
    </div>
    </dx-popup>
</div>  