.page-header {
    font-size: 24px !important;
    padding-left: 1rem !important;
    font-weight: 700;
    flex-grow: 1;
}

.meal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-actions {
    display: flex;
    gap: 10px;
}

.first-popup-header {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dx-field {
    margin: 0;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    margin-right: 10px;
    gap: 10px;
}

::ng-deep .history-list .dx-list-items {
    flex-direction: column-reverse;
    row-gap: 0;
}