<div class="options-container">
    <h3 class="page-header">Options</h3>
    <!-- Username Section -->
    <div class="form-group">
        <dx-text-box [(value)]="username" placeholder="Enter your new username"></dx-text-box>
        <dx-button text="Change Username" stylingMode="contained" type="default" (onClick)="onChangeUsername()"></dx-button>
    </div>

    <!-- Current Household UUID Section -->
    <div class="form-group">
        <dx-text-box value="{{ householdId }}" [disabled]="true"></dx-text-box>
        <dx-button text="Copy to clipboard" class="copy-button" stylingMode="contained" type="default"></dx-button>
    </div>

    <!-- Change Household Section -->
    <div class="form-group">
        <dx-text-box [(value)]="newHouseholdId" placeholder="Enter new household UUID"></dx-text-box>
        <dx-button text="Change Household" stylingMode="contained" type="default" (onClick)="onChangeHousehold()"></dx-button>
    </div>

    <div *ngIf="householdMembers.length > 0">
        <h3 class="page-header">Household Members</h3>
        <ul>
            <li *ngFor="let member of householdMembers">
                {{ member.username }}
            </li>
        </ul>
    </div>
    <div *ngIf="householdMembers.length === 0">
        <p>No members found in this household.</p>
    </div>
</div>