.page-header {
    font-size: 24px !important;
    padding-left: 1rem !important;
    font-weight: 700;
}

.stock-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    dx-button {
        margin-left: auto;
        margin-right: 20px;
    }
}
.stock-container {
    width: 100% !important;
    max-width: 100vw !important;  // Prevents the container from exceeding the viewport width

    .dx-data-grid {
        width: 100%;
        overflow-x: auto;
    }
}