<div class="stock-container">
    <!-- Header with title and Add button -->
    <div class="stock-header">
        <h3 class="page-header">Stock</h3>
        <dx-button
        icon="plus"
        text="Add Item"
        stylingMode="contained"
        type="default"
        (onClick)="onAddItemClick()"
        ></dx-button>
    </div>

    <!-- DataGrid for stock items -->
    <dx-data-grid
        [dataSource]="stockItems"
        [showBorders]="true"
        height="100%"
        (onRowRemoving)="onRowRemoving($event)"
        (onEditingStart)="onEditingStart($event)"
        >
        <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [confirmDelete]="false"
        >
        </dxo-editing>
        <dxi-column caption="Item" [calculateCellValue]="item_quantity_unit"></dxi-column>
    </dx-data-grid>

    <!-- Popup for adding/editing items -->
    <dx-popup
        [visible]="popupVisible"
        [showCloseButton]="true"
        [width]="'90%'"
        [maxWidth]="420"
        [height]="'auto'"
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        (onHiding)="onPopupClose()"
        title="Add/ Edit Item"
    >
        <dx-form [formData]="selectedItem">
            <dxi-item dataField="item" label="Item">
                <dx-autocomplete
                    [(value)]="selectedItem.item"
                    [dataSource]="ingredientSuggestions"
                    [minSearchLength]="2"
                    [searchTimeout]="500"
                    valueExpr="name"
                    displayExpr="name"
                    (onValueChanged)="onItemSelected($event)"
                    (onInput)="onItemInput($event)"
                    [disabled]="isEditMode"
                >
                </dx-autocomplete>
                <dxi-validation-rule type="required" message="Item is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="quantity" label="Quantity" editorType="dxNumberBox" [editorOptions]="{
                value: 0,
                format: 'decimal',
                onFocusIn: handleFocusIn,
                onFocusOut: handleFocusOut,
                onKeyDown: handleKeyDown
            }">
                <dxi-validation-rule type="required" message="Quantity is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="unit" label="Unit" [editorOptions]="{ disabled: isEditMode }">
                <dxi-validation-rule type="required" message="Unit is required"></dxi-validation-rule>
            </dxi-item>

            <!-- Save Button -->
            <dxi-item itemType="button">
                <dxo-button-options
                    text="Save"
                    type="default"
                    stylingMode="contained"
                    [onClick]="onSaveItem"
                ></dxo-button-options>
            </dxi-item>
        </dx-form>
    </dx-popup>
</div>