.stock-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    dx-button {
        margin-left: auto;
        margin-right: 20px;
    }
}