<div class="recipes-container">
    <!-- Recommended Recipes Section -->
    <div *ngIf="recommendedRecipes && recommendedRecipes.length > 0">
        <h3 class="page-header">Recommended Recipes</h3>
        <dx-list
        [dataSource]="recommendedRecipes"
        [height]="'auto'"
        [showSelectionControls]="false"
        (onItemClick)="onRecipeClick($event)"
        >
        <div *dxTemplate="let item of 'item'">
            <div class="recipe-item" *ngIf="!isMobile">
                <h4>{{ item.title }}</h4>
                <!-- <img [src]="item.image" alt="{{ item.title }}" width="100" /> -->
                <div class="recipe-item-ingredients">
                    <p>Used Ingredients: 
                        <span *ngFor="let ingredient of item.usedIngredients; let isLast = last">
                        {{ ingredient.name }}{{ isLast ? '' : ', ' }}
                        </span>
                    </p>
                    <p>Missing Ingredients: 
                        <span *ngFor="let ingredient of item.missedIngredients; let isLast = last">
                        {{ ingredient.name }}{{ isLast ? '' : ', ' }}
                        </span>
                    </p>
                </div>
            </div>
            <div class="recipe-item mobile-recipe-item" *ngIf="isMobile">
                <div class="first-mobile-row">
                    <h4>{{ item.title }}</h4>
                    <!-- <img [src]="item.image" alt="{{ item.title }}" width="100" /> -->
                </div>
                <div class="second-mobile-row">
                    <p>Used Ingredients: {{ item.usedIngredients.length }} Missing Ingredients: {{ item.missedIngredients.length }}</p>
                </div>
            </div>
        </div>
        </dx-list>
    </div>
    <h4 *ngIf="!recommendedRecipes || recommendedRecipes.length == 0">No recommendations.</h4>

    <!-- Custom Meal Section -->
    <h3 class="page-header second-header">Custom Selection</h3>
    <dx-autocomplete
        class="meal-autocomplete"
        label="Meal Name"
        labelMode="floating"
        [width]="'80%'"
        [(value)]="searchQuery"
        [dataSource]="mealSuggestions"
        [minSearchLength]="3"
        [searchTimeout]="500"
        valueExpr="title"
        displayExpr="title"
        (onValueChanged)="onMealSelected($event)"
        (onInput)="onMealInput($event)"
        [dropDownOptions]="{
            position: {
                my: 'bottom',
                at: 'top',
                of: '.meal-autocomplete .dx-texteditor-input-container',
                collision: 'fit'
            }
        }"
    ></dx-autocomplete>

    <!-- Recipe Details Popup -->
    <dx-popup
        [visible]="selectedRecipe != null"
        [showCloseButton]="true"
        [maxWidth]="600"
        [width]="'90%'"
        [height]="'auto'"
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        (onHiding)="selectedRecipe = null"
        title="{{ selectedRecipe?.title }}"
    >
        <div class="popup-content" *ngIf="selectedRecipe">
            <div class="img-number-box-container">
                <img [src]="selectedRecipe.image" alt="{{ selectedRecipe.title }}" width="40%" />
                <!-- Number Box for Servings -->
                <dx-number-box
                    [(value)]="numberOfServings"
                    [min]="1"
                    [showSpinButtons]="true"
                    [width]="100"
                    label="Servings"
                ></dx-number-box>
            </div>
    
            <!-- Collapsible instructions -->
            <div dx-accordion>
            <dxi-item title="Instructions">
                <div [innerHTML]="selectedRecipe.instructions"></div>
            </dxi-item>
            </div>
        
            <!-- Start Planning Button -->
            <dx-button
            text="Start Planning"
            stylingMode="contained"
            type="default"
            (onClick)="startPlanning()"
            ></dx-button>
        </div>
    </dx-popup>
</div>