<div class="recipes-container">
    <!-- Recommended Recipes Section -->
    <div *ngIf="recommendedRecipes && recommendedRecipes.length > 0">
        <h3 class="section-header">Recommended Recipes</h3>
        <dx-list
        [dataSource]="recommendedRecipes"
        [height]="400"
        [showSelectionControls]="false"
        (onItemClick)="onRecipeClick($event)"
        >
        <div *dxTemplate="let item of 'item'">
            <div class="recipe-item">
            <h4>{{ item.title }}</h4>
            <img [src]="item.image" alt="{{ item.title }}" width="100" />
            <p>Used Ingredients: {{ item.usedIngredientCount }}</p>
            <p>Missing Ingredients: {{ item.missedIngredientCount }}</p>
            </div>
        </div>
        </dx-list>
    </div>
    <h4 *ngIf="!recommendedRecipes || recommendedRecipes.length == 0">No recommendations.</h4>

    <!-- "Other Meals" Button -->
    <div class="other-meals-button">
        <dx-button
        text="Other Meals"
        stylingMode="contained"
        type="default"
        (onClick)="onOtherMealsClick()"
        ></dx-button>
    </div>

    <!-- Popup for Other Meals -->
    <dx-popup
        [visible]="popupVisible"
        [showCloseButton]="true"
        [width]="600"
        [height]="'auto'"
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        (onHiding)="onPopupClose()"
        title="Search for Meals"
    >
        <div class="popup-content">
        <dx-autocomplete
            [(value)]="searchQuery"
            [dataSource]="mealSuggestions"
            [minSearchLength]="3"
            [searchTimeout]="500"
            valueExpr="title"
            displayExpr="title"
            (onValueChanged)="onMealSelected($event)"
            (onInput)="onMealInput($event)"
        ></dx-autocomplete>

        <!-- Display search results -->
        <dx-list
            [dataSource]="mealSuggestions"
            [height]="300"
            [showSelectionControls]="false"
            (onItemClick)="onMealSuggestionClick($event)"
            *ngIf="mealSuggestions && mealSuggestions.length > 0"
        >
            <div *dxTemplate="let item of 'item'">
                <div class="recipe-item">
                    <h4>{{ item.title }}</h4>
                    <img [src]="item.image" alt="{{ item.title }}" width="100" />
                </div>
            </div>
        </dx-list>
        </div>
    </dx-popup>

    <!-- Recipe Details Popup -->
    <dx-popup
        [visible]="selectedRecipe != null"
        [showCloseButton]="true"
        [width]="600"
        [height]="'auto'"
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        (onHiding)="selectedRecipe = null"
        title="{{ selectedRecipe?.title }}"
    >
        <div class="popup-content" *ngIf="selectedRecipe">
            <img [src]="selectedRecipe.image" alt="{{ selectedRecipe.title }}" width="100%" />
            <!-- Number Box for Servings -->
            <dx-number-box
                [(value)]="numberOfServings"
                [min]="1"
                [showSpinButtons]="true"
                [width]="100"
                label="Servings"
            ></dx-number-box>
    
            <!-- Collapsible Summary -->
            <div dx-accordion>
            <dxi-item title="Summary">
                <div [innerHTML]="selectedRecipe.summary"></div>
            </dxi-item>
            </div>
        
            <!-- Start Planning Button -->
            <dx-button
            text="Start Planning"
            stylingMode="contained"
            type="default"
            (onClick)="startPlanning()"
            ></dx-button>
        </div>
    </dx-popup>
</div>