/* You can add global styles to this file, and also import other style files */

.page-header {
    font-size: 24px !important;
    padding-left: 1rem !important;
    font-weight: 700;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body, app-root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
  
.dx-viewport {
  width: 100%;
  max-width: 100vw;
}

app-side-nav-outer-toolbar {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.dx-texteditor.dx-state-disabled .dx-texteditor-input {
  background-color: #F2F2F2;
  color: black;
}