.shopping-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    dx-button {
        margin-left: auto;
        margin-right: 20px;
    }
}

.page-header {
    font-size: 24px !important;
    padding-left: 1rem !important;
    font-weight: 700;
    flex-grow: 1;
}

.inactive-lists-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
}